.information-window{
    background: $color-white;
    padding: 60px;
    margin: auto;

    .input-wrap__row{
        flex-direction: column;
    }

    label{
        color: $label-color;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        font-family: $main-font;
    }
}

.tabs-header{
    display: flex;
    justify-content: space-around;
}

.tabs-content{
    display: flex;

    form{
        display: flex;
    }
}