.form-window{
    box-sizing: border-box;
    width: 630px;
    padding: 70px 115px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .form-window__title{
        font-family: Exo 2;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.4px;
        color: $color-main;
    }

    input{
        width: 100%;
        border: 2px solid #F2F2F2;
        border-radius: 5px;
        padding: 13px 11px;
        margin-bottom: 25px;

        &:last-of-type{
            margin-bottom: 0;
        }

        &:active,
        &:focus{
            outline: none;
            border-left: 2px solid #2A74DB;
        }
    }

    .pass--recovery{
        display: flex;
        justify-content: flex-end;
    }
        
}