{% extends "_layout.html" %}


{% set searchActive = true %}

{% block header %}
{% include "_left-bar.html" %}
{% endblock %}

{% block content %}

    <main class="main">
        <section class="admin-window">
            <table>
                <thead>
                    <td>First name</td>
                    <td>Last name</td>
                    <td>Country</td>
                    <td>Status</td>
                    <td>Level</td>
                    <td>E-mail</td>
                    <td></td>
                </thead>
                <tbody>
                    {% for row in usersResponse %}
                    <tr>
                        <td>{{ row.fname }}</td>
                        <td>{{ row.lname }}</td>
                        <td>{{ row.country }}</td>
                        <td>{{ row.status }}</td>
                        <td>{{ row.level }}</td>
                        <td>{{ row.email }}</td>
                        <td>
                            <div class="delete-user" id="{{ row.id }}">
                                <a href="/admin/{{ row.id }}/delete/" class="delete-link">
                                    <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 0.9L8.1 0L4.5 3.6L0.9 0L0 0.9L3.6 4.5L0 8.1L0.9 9L4.5 5.4L8.1 9L9 8.1L5.4 4.5L9 0.9Z" fill="#A9AFC5"/>
                                    </svg>
                                </a>
                            </div> 
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>


{% endblock %}

