$background-color: #F9FAFC;

$color-main:                  #002396;
$color-blue:                  #2A74DB;
$color-green:                 #0AD69C;
$color-white:                 #ffffff;
 
$text-color:                  #222428;

$border-radius:               3px;
 
$font-size:                   1rem;
$font-size--h1:               3rem;
$font-size--sm:               0.75rem;
 
$line-height:                 1.375em;
 
$title-font:                 'Exo 2', Arial, sans-serif;
$main-font:                  'Roboto', Arial, sans-serif;
 
$max-width:                   1160px;

$screen-xs:                   0;
$screen-sm:                   480px;
$screen-md:                   768px;
$screen-lg:                   992px;
$screen-xl:                   1200px;