.form-window{
    box-sizing: border-box;
    width: 630px;
    padding: 70px 115px;
    background: #FFFFFF;
    box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
    border-radius: 10px;
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
    margin: auto;

    .form-window__title{
        font-family: Exo 2;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.4px;
        color: $color-main;
    }

    input{
        width: 100%;
        padding: 13px 11px;
        margin-bottom: 25px;
        box-sizing: border-box;
        font-size: $font-size--sm;
        background: $background-input-color;
        border: 2px solid #F2F2F2;
        border-radius: 2px;

        &:last-of-type{
            margin-bottom: 0;
        }

        &:placeholder-shown{
            color: $color-gray;
            font-family: $main-font;
            font-size: $font-size--sm;
        }

        &:active,
        &:focus{
            outline: none;
            border-left: 2px solid $color-blue;
            background: $color-white;
        }
    }

    .pass--recovery{
        display: flex;
        justify-content: flex-end;
        font-size: $font-size--sm;
        margin-top: 15px;
        color: $text-color;
        text-decoration: none;

        &:hover{
            text-decoration: underline;
        }
    }
}

.button{
    width: 100%;
}

.button__wrap{
    display: flex;
    justify-content: flex-end;
}

button.submit{
    background-color: $color-green;
    color: $color-white;
    padding: 10px 50px;
    font-family: $title-font;
    font-size: $font-size;
    border-radius: $border-radius;
    outline: none;
    border: none;
    margin-top: 40px;
}